<div class="bg-gray-50 rounded overflow-hidden">
  <div class="px-5 py-5">
    <h3 class="text-lg font-semibold pb-5 "><%= title %></h3>
    <p><%= post.content %></p>
  </div>

  <div class="bg-gray-100 px-5 py-2.5">
    <p><span class="text-gray-500">By:</span> <span><%= creator %></span> </p>
  </div>
</div>
