<nav class="bg-gray-800 mb-5">
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <%= link_to root_path do %>
        <h1 class="text-xl text-white font-bold">Members Only<h1>
      <% end %>

      <%= link_to user_path(current_user) do %>
        <img class="h-8 w-8 rounded-full" src=<%="https://picsum.photos/id/#{current_user.id}/500" %> alt="">
      <% end %>
    </div>
  </div>
</nav>
